<article class="recovery-resend__content">
  <section class="recovery-resend__title">
    <img class="recovery-resend__logo"
         src="assets/images/logo_ligth.svg"
         alt="Auth logo">
    <label class="am-txt am-txt-xl am-txt-bold">HR System</label>
  </section>

  <section class="recovery-resend__description">
    <span class="recovery-resend__icon am-icon-envelope-paper-o"></span>
    <label class="am-txt am-txt-sm">
      Thank you! If your email address matches, you will receive an email with a link to reset your password shortly.
    </label>
  </section>

  <section class="recovery-resend__form">
    <section class="recovery-resend__form-buttons">
      <button class="recovery-resend__cancel-button am-btn" (click)="redirectToLoginUser()">
        <label class="am-txt am-txt-sm">Back to login</label>
      </button>
      <button class="recovery-resend__send-button am-btn">
        <label class="am-txt am-txt-sm">Resend email</label>
      </button>
    </section>
  </section>
</article>
