@import 'src/assets/styles/mixins/am-mixins';

.modal {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(
        var(--am-primary-h),
        var(--am-primary-s),
        calc(var(--am-primary-l) + 40%),
        0.3
    );
    backdrop-filter: blur(4px);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;

    &--show {
      opacity: 1;
      pointer-events: unset;
    }
  }

  &__content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--scrollable {
    }
  }

  &__window {
    border-radius: 16px;
    box-shadow: var(--am-md-shadow);

    &--sm {
      width: 300px;
      margin: 50px auto;

      @include am-media-max-width('xs') {
        width: 90%;
      }
    }

    &--md {
      width: 500px;
      margin: 50px auto;

      @include am-media-max-width(550px) {
        width: 90%;
      }
    }

    &--lg {
      width: 800px;
      margin: 50px auto;

      @include am-media-max-width('m') {
        width: 90%;
      }
    }
  }

  &__header {
    color: var(--am-preset);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-radius: 16px 16px 0 0;
    padding: 16px 16px;
    background: linear-gradient(
        77.08deg,
        var(--am-primary-40) 3.43%,
        var(--am-primary-60) 95.02%
    );
  }

  &__title {
    box-sizing: border-box;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 600;
  }

  &__close {
    box-sizing: border-box;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      animation: shake 0.3s ease;
    }

    &:active {
      background-color: var(--am-primary-60);
    }
  }

  &__body {
    color: var(--am-primary-40);
    padding: 24px;
    gap: 8px;
    border-radius: 0 0 16px 16px;
    background-color: hsla(
        var(--am-preset-h),
        var(--am-preset-s),
        var(--am-preset-l),
        0.8
    );

    &--scrollable {
      overflow: auto;

      .modal__window--sm & {
        max-height: calc(50vh - (50px * 2));
      }

      .modal__window--md & {
        max-height: calc(70vh - (50px * 2));
      }

      .modal__window--lg & {
        max-height: calc(85vh - (50px * 2));
      }
    }
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-1px); }
  40% { transform: translateX(1px); }
  60% { transform: translateX(-1px); }
  80% { transform: translateX(1px); }
  100% { transform: translateX(0); }
}
