<am-card>
  <div card-header class="public-card-header">
    <img src="assets/images/logo_ligth.svg" alt="imagen" style="width: 40px" />
    <h2 class="am-card__title">Password Change</h2>
    <label class="am-txt am-txt-sm">Enter your new password and repeat it again</label>
  </div>

  <div card-body>
    <form [formGroup]="passwordChangeForm">
      <am-ui-input
        label="Username"
        placeholder="Enter your username..."
        class="force-focus"
        formControlName="username"
        [control]="getControl('username')">
      </am-ui-input>
      <am-ui-input
        label="Password"
        type="password"
        placeholder="Enter your password..."
        class="force-focus"
        formControlName="password"
        [control]="getControl('password')">
      </am-ui-input>
      <am-progress-bar *ngIf="loading" [indeterminate]="true"></am-progress-bar>
    </form>
  </div>
  <div card-footer>
    <button class="am-btn am-btn__full am-btn--primary" (click)="changePassword()" [disabled]="!passwordChangeForm.valid">Login</button>
  </div>
</am-card>
