@import 'src/assets/styles/mixins/am-mixins';

.password-recovery {
  width: 500px;
  border-radius: 15px;
  padding: 30px 10px;
  box-sizing: border-box;
  background-color: hsla(
      var(--am-notice-h),
      var(--am-notice-s),
      calc(var(--am-notice-l) - 16%),
      0.4
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include am-media-max-width('s') {
    margin: 0 20px;
  }

  @include am-media-max-width(550px) {
    width: auto;
  }

  @include am-media-max-width(360px) {
    padding: 20px 10px;
  }

  &__logo {
    width: 100px;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .am-txt {
      color: var(--am-primary-60);
    }

    @include am-media-max-width('xs') {
      flex-direction: column;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .am-txt {
      color: var(--am-preset-90);
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 70%;
    margin-top: 20px;

    .am-form-control {
      width: 100%;
    }

    @include am-media-max-width(380px) {
      width: 85%;
    }

    @include am-media-max-width(350px) {
      width: 90%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    @include am-media-max-width('xs') {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  &__button--cancel {
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: var(--am-preset-90);
    width: 47%;
    background-color: var(--am-notice);

    &:hover {
      background-color: var(--am-notice);
    }

    &:active {
      background-color: var(--am-notice-40);
    }

    @include am-media-max-width('xs') {
      width: 100%;
    }
  }

  &__button--send {
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: var(--am-preset-90);
    width: 47%;
    background: linear-gradient(
        180deg,
        var(--am-primary) 0%,
        var(--am-primary-70) 100%
    );

    &:hover {
      background: linear-gradient(
          180deg,
          var(--am-primary-70) 0%,
          var(--am-primary-80) 100%
      );
    }

    &:active {
      background: linear-gradient(
          180deg,
          var(--am-primary) 0%,
          var(--am-primary-70) 100%
      );
    }

    @include am-media-max-width('xs') {
      width: 100%;
    }
  }

  &__forgot {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
