<am-card>
  <div card-header class="public-card-header">
    <img src="assets/images/logo_ligth.svg" alt="imagen" style="width: 40px" />
    <h2 class="am-card__title">Password Recovery</h2>
  </div>

  <div card-body>
    <section class="am-form-group">
      <span class="am-txt am-txt-xs am-label">Username</span>
      <input type="email"
             class="am-txt am-form-control"
             id="public-password-recovery-email-input"
             placeholder="Enter your user/email"/>
    </section>
    <div class="am-container-forgot-password">
      <span class="am-txt am-txt-xs am-forgot-password">Forgot your password?</span>
    </div>
  </div>

  <div card-footer>
    <button class="am-btn btn-login">Login</button>
  </div>
</am-card>
